<% provide(:title, "Help") %>
<div class="page-header">
  <h1>Help</h1>
</div>
<h2 class="lead">FAQs</h2>
  <p class="question">Inflammatio denego necessitatibus caelestis autus illum?</p>
  <p><%= Faker::Lorem.paragraph(7) %></p>
  <p class="question">Nihil hic beatae et voluptatum aliquam accusantium officia?</p>
  <p><%= Faker::Lorem.paragraph(7) %></p>
  <p class="question">Aspernatur sit reprehenderit repellat illo cupiditate et?</p>
  <p><%= Faker::Lorem.paragraph(7) %></p>
  <p class="question">Consequuntur mollitia repellat ipsum sint error totam sed?</p>
  <p><%= Faker::Lorem.paragraph(7) %></p>
  <p class="question">Est voluptas molestias numquam. Amet laudantium aspernatur veniam?</p>
  <p><%= Faker::Lorem.paragraph(7) %></p>
<h2 class="lead">Policies</h2>
  <p><%= Faker::Lorem.paragraph(20) %></p>